<!-- TODO: Use templates to deduplicate sidebar code -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
	  <link rel="stylesheet" href="/playlists.css">
    <script src="/playlists.js"></script>
    <title>FlowNation Radio</title>
  </head>
  
  <body>
    <!-- Navigation Sidebar -->
    <%- include('../partials/navbar'); %>
    
    <main id="main-content">
      <!-- Header Topbar -->
      <header>
        <div id="current-song">
            <label>Selected Song:</label>
            <img src="/temp_music_icon.png"/>
            <div id="song-info">
                <a id="song" href="#">Song Name</a>
                <a id="artist" href="#">Artist Name</a>
            </div>
        </div>
      </header>
    
      <!-- Content Area: place your user profile stuff into here-->
      <div id="content">  
        <div id="playlists">
          <% playlists.forEach(function(playlist) { %>
            <div class="playlist">
              <input type="hidden" class="playlist-id" value="<%= playlist.id %>">
              <img src="/temp_person_icon.png" alt="DJ Image" style="border: #352e53; border-style: dashed">
              <div class="info-box">
                <p class="dj-name"><%= playlist.name %></p>
                <p class="timeslots">DJ Timeslots</p>
              </div>
              <p class="duration">Length: <%= playlist.getDuration() %></p>
              <div class="button-box">
                <button type="button" class="view-button"><i class="fa-solid fa-binoculars"></i> View Playlist</button>
                <button type="button" class="edit-button"><i class="fa-solid fa-pencil"></i> Edit Playlist</button>
              </div>
            </div>
          <% }); %>
        </div>
        <div id="playlist-info">
          <div id="playlist-dj">
            <!-- Inline Event Handler Approach -->
            <img src="/temp_person_icon.png" alt="DJ Image" onclick="alert('dj image!')">
            <p><a href="playlist.html">DJ #1's Playlist</a></p>
          </div>
          <div id="playlist-days">
            <label><input type="checkbox" name="playlist-monday"> Monday</label>
            <label><input type="checkbox" name="playlist-tuesday"> Tuesday</label>
            <label><input type="checkbox" name="playlist-wednesday"> Wednesday</label>
            <label><input type="checkbox" name="playlist-thursday"> Thursday</label>
            <label><input type="checkbox" name="playlist-friday"> Friday</label>
            <label><input type="checkbox" name="playlist-saturday"> Saturday</label>
            <label><input type="checkbox" name="playlist-sunday"> Sunday</label>
          </div>
          <div id="playlist-songs">
          </div>
        </div>
      </div>
    </main>
    <input id="json-data" type="hidden" value="<%= JSON.stringify(playlists); %>">
  </body>
</html>